.app-container {
    min-height: 600px;
    width: 100%;
    display: flex;
}

.app-menu-container {
    width: 20%;
    background: #f00;
}

.app-content-container {
    width: 80%;
    background: #0f0;
}
